{% extends "chat/base.html" %}

{% block extra-css %}
  <style>
    #chat-message-list {
      padding: 0;
      list-style: none;
    }

    .chat-message .message {
      background-color: #3b3b3d;
      color: #e1e1e1;
      border-radius: 0.8em;
      padding: 0.4em;
      margin: 0.4em 0;
      display: inline-block;
      white-space: pre-wrap;
    }

    .chat-message.me {
      text-align: right;
    }

    .chat-message.me .message {
      background-color: #1f8cff;
      color: #fff;
      text-align: left;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          [{{ roleplayingroom.get_language_display }}
          {{ roleplayingroom.get_level_display }}]
          {{ roleplayingroom.situation }}
          ({{ roleplayingroom.gpt_role }}와
          {{ roleplayingroom.my_role }}의 대화)
        </div>
        <div class="card-body">
          <ul id="chat-message-list">
          </ul>
        </div>
        <div class="card-footer">
          <div class="d-flex gap-2">
            <form id="message-form" class="d-flex gap-1 flex-grow-1">
              <input type="text" name="message" placeholder="메시지를 입력하세요." class="form-control flex-grow-1"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3">
    <a href="{% url 'role_playing_room_update' roleplayingroom.pk %}" class="btn btn-primary">수정</a>
    <a href="{% url 'role_playing_room_delete' roleplayingroom.pk %}" class="btn btn-danger">삭제</a>
  </div>
{% endblock %}
{% block script %}
  {# room-pk 라는 id 이름으로 주어진 데이터를 JSON 형식으로 변환하여 <script> 태그에 삽입 #}
  {{ roleplayingroom.pk|json_script:"room-pk" }}
  <script>
    /* XSS 공격 방지를 위해서
    const addMessage = (msg, isMe) => {
      const msgList = document.querySelector('#chat-message-list')
      msgList.insertAdjacentHTML('beforeend', `<li class="chat-message ${isMe ? ' me' : ''}"><span class="message">${msg}</span>`)
      msgList.scrollTop = msgList.scrollHeight
    }
    */

    function addMessage(message, isMe) {
      const messageList = document.getElementById("chat-message-list");
      const messageElement = document.createElement("li");
      messageElement.className = "chat-message" + (isMe ? " me" : "");
      messageElement.innerHTML = `<span class="message">${message}</span>`;
      messageList.appendChild(messageElement);
      messageList.scrollTop = messageList.scrollHeight;
  }
    
    const room_pk = document.querySelector('#room-pk').textContent
    
    // websocket 객체 생성
    const ws = new WebSocket(`ws://${window.location.host}/ws/chat/${room_pk}/`)

    ws.onopen = function(e) {
      console.log('django channels connected.')
    }
    ws.onclose = function(e) {
      console.log('django channels disconnected.')
    }
    ws.onerror = function(e) {
      console.error('django channels raise error.')
    }
    ws.onmessage = function(e) {
      console.group('[onmessage]')
      const msg_obj = JSON.parse(e.data)
      const { message } = msg_obj
      addMessage(message, false)
      console.log('assistant-msg :', message)
      console.groupEnd()
    }

    const messageForm = document.querySelector('#message-form')
    messageForm.onsubmit = function(e) {
      e.preventDefault()
      const msg = e.target.message.value.trim()
      if (msg.length > 0) {
        ws.send(JSON.stringify({ type: "user-msg", message: msg }))
        addMessage(msg, true)
        e.target.reset()
      }
      
    }
  </script>

{% endblock script %}
