{% extends "chat/base.html" %}

{% block extra-css %}
  <style>
    #chat-message-list {
      padding: 0;
      list-style: none;
    }

    .chat-message .message {
      background-color: #3b3b3d;
      color: #e1e1e1;
      border-radius: 0.8em;
      padding: 0.4em;
      margin: 0.4em 0;
      display: inline-block;
      white-space: pre-wrap;
    }

    .chat-message.me {
      text-align: right;
    }

    .chat-message.me .message {
      background-color: #1f8cff;
      color: #fff;
      text-align: left;
    }

    .chat-message .say {
      display: block;
      font-size: 0.8em;
      margin-top: -0.4em;
      margin-left: 0.2em;
      margin-bottom: 0.2em;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          [{{ roleplayingroom.get_language_display }}
          {{ roleplayingroom.get_level_display }}]
          {{ roleplayingroom.situation }}
          ({{ roleplayingroom.gpt_role }}와
          {{ roleplayingroom.my_role }}의 대화)
        </div>
        <div class="card-body">
          <ul id="chat-message-list">
          </ul>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 mb-2"><button class="btn btn-primary" id="auto-play-btn">자동 읽기 시작</button></div>
          {# <select id="voice-list" class="form-select mb-2"></select> #}
          <div class="d-flex gap-2">
            <button class="btn btn-secondary" id="recommend-btn">추천받기</button>
            <form id="message-form" class="d-flex gap-1 flex-grow-1">
              <input type="text" name="message" placeholder="메시지를 입력하세요." class="form-control flex-grow-1"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3">
    <a href="{% url 'role_playing_room_update' roleplayingroom.pk %}" class="btn btn-primary">수정</a>
    <a href="{% url 'role_playing_room_delete' roleplayingroom.pk %}" class="btn btn-danger">삭제</a>
  </div>
{% endblock %}
{% block script %}
  {# room-pk 라는 id 이름으로 주어진 데이터를 JSON 형식으로 변환하여 <script> 태그에 삽입 #}
  {{ roleplayingroom.pk|json_script:"room-pk" }}
  {{ roleplayingroom.language|json_script:"room-lang" }}
  <script>
    /* XSS 공격 방지를 위해서
    const addMessage = (msg, isMe) => {
      const msgList = document.querySelector('#chat-message-list')
      msgList.insertAdjacentHTML('beforeend', `<li class="chat-message ${isMe ? ' me' : ''}"><span class="message">${msg}</span>`)
      msgList.scrollTop = msgList.scrollHeight
    }
    */

    {% comment %} function sayMessage(message) {
      const voiceListSelect = document.querySelector("#voice-list");
      const voiceName = voiceListSelect.options[voiceListSelect.selectedIndex].value;
      const voice = window.speechSynthesis.getVoices()
        .find(voice => voice.name === voiceName);
    
      const utterance = new SpeechSynthesisUtterance(message);
      utterance.voice = voice;
      utterance.lang = voice.lang;
    
      utterance.addEventListener("error", (e) => {
        alert(`error: ${e.error}`);
      });
    
      window.speechSynthesis.speak(utterance);
    } {% endcomment %}

    function sayMessage(message, language) {
      const lang = language.split("-")[0];  // en-US => en
      const voiceUrl = `/chat/voice/?message=${encodeURIComponent(message)}&lang=${lang}`;
      const audio = new Audio();
      audio.src = voiceUrl;
      audio.play();
  }

    function addMessage(message, isMe) {
      const messageList = document.getElementById("chat-message-list");
      const messageElement = document.createElement("li");
      messageElement.className = "chat-message" + (isMe ? " me" : "");
      messageElement.innerHTML = `<span class="message">${message}</span>
      <span class="say">읽어주기</span>`;
      messageList.appendChild(messageElement);
      messageList.scrollTop = messageList.scrollHeight;

      messageElement.querySelector(".say").addEventListener("click", () => {
        sayMessage(message, room_lang);
      });
  }


    let is_auto_play = false
    const room_pk = document.querySelector('#room-pk').textContent
    const room_lang = JSON.parse(document.querySelector('#room-lang').textContent)
    
    // websocket 객체 생성
    const ws = new WebSocket(`ws://${window.location.host}/ws/chat/${room_pk}/`)

    ws.onopen = function(e) {
      console.log('django channels connected.')
    }
    ws.onclose = function(e) {
      console.log('django channels disconnected.')
    }
    ws.onerror = function(e) {
      console.error('django channels raise error.')
    }
    ws.onmessage = function(e) {
      console.group('[onmessage]')
      const msg_obj = JSON.parse(e.data)
      if (msg_obj.type == "assistant-msg") {
        const { message } = msg_obj
        addMessage(message, false)
        if (is_auto_play == true) {
          sayMessage(message, room_lang)
        }
        
      } else if (msg_obj.type == "recommended-msg") {
        const { message } = msg_obj
        
        document.querySelector("#message-form [name='message']").value = message;
        recommendBtn.disabled = false
      } else {
        console.error('알 수 없는 메시지 타입입니다.', msg_obj)
      }

      console.groupEnd()
    }

    const messageForm = document.querySelector('#message-form')
    messageForm.onsubmit = function(e) {
      e.preventDefault()
      const msg = e.target.message.value.trim()
      if (msg.length > 0) {
        ws.send(JSON.stringify({ type: "user-msg", message: msg }))
        addMessage(msg, true)
        e.target.reset()
      }
      
    }

    const recommendBtn = document.querySelector('#recommend-btn')
    recommendBtn.addEventListener("click", () => {
      recommendBtn.disabled = true
      ws.send(JSON.stringify({ type: "request-recommend-msg" }))
    })

    const autoPlayBtn = document.querySelector('#auto-play-btn')
    autoPlayBtn.addEventListener('click', () => {
      is_auto_play = true
      autoPlayBtn.remove()
    })
  </script>
  {% comment %}  
  <script>
    const room_lang = JSON.parse(document.querySelector('#room-lang').textContent)
    
    window.speechSynthesis.onvoiceschanged = function () {
      const voices = window.speechSynthesis.getVoices()

      voices.forEach(({name, lang}) => {
        if (lang.toLowerCase() === room_lang.toLowerCase()) {
          const option = document.createElement('option')
          option.value = name
          option.textContent = name
          option.selected = true // 마지막 음성 선택
          document.querySelector('#voice-list').appendChild(option)
        }
      })
    }

  </script>
  {% endcomment %}

{% endblock script %}
